<!-- First Container -->
<div class="flex  items-center justify-center bg-gradient-to-r from-slate-900 to-slate-700 p-2">
  <div class="w-max">
    <h1
      class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white pr-5 text-5xl text-blue-600 font-bold">
      Are you Looking for a Technicians...
    </h1>
  </div>
</div>


<section class=" bg-gradient-to-r from-slate-900 to-slate-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-4 lg:py-4">
     
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at FindTech we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
  
  </div>
</section>
<!-- nav bar section -->

<!-- hero seciton -->

<h2 class="text-4xl font-bold text-gray-100 mb-8 text-center">Our Services</h2>
<!-- our services section -->
<!-- source: https://github.com/mfg888/Responsive-Tailwind-CSS-Grid/blob/main/index.html -->



<!-- ✅ Grid Section - Starts Here 👇 -->
<section id="Projects"
  class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

  <!--   ✅ Product card 1 - Starts Here 👇 -->
  <div class="w-72  bg-gradient-to-r from-slate-900 to-slate-700 shadow-lg rounded-xl duration-500 hover:scale-105 hover:shadow-2xl transform transition-all">
    <a routerLink="/login">
      <img src="https://i.giphy.com/S6MSo1E4m7uva7Fimz.webp"
           alt="Mobile Technician Service" class="h-80 w-72 object-cover rounded-t-xl" />
      <div class="px-4 py-3 w-72">
        <span class="text-sm text-gray-100 font-semibold mr-3 uppercase tracking-wide">Mobile Technician</span>
        <p class="text-lg font-bold text-gray-200 truncate block capitalize">Expert Repairs at Your Doorstep</p>
        <div class="flex items-center mt-2">
          <p class="text-xl font-bold text-teal-700">Starting from ₹500/-</p>
          
          <div class="ml-auto p-2 bg-teal-600 rounded-full text-white hover:bg-teal-700 transition-colors duration-300 cursor-pointer">
            
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="w-72 bg-gradient-to-r from-slate-900 to-slate-700 rounded-xl duration-500 hover:scale-105 hover:shadow-2xl transform transition-all">
    <a  routerLink="/login">
      <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWswdnlzejg4ZTdra2JmY3h1dWgxcDV4bHBoMW9zZTljMnlhY2kycyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/0hA4tcelW5KVNnPdbP/giphy.webp"
           alt="Mobile Technician Service" class="h-80 w-72 object-cover rounded-t-xl" />
      <div class="px-4 py-3 w-72">
        <span class="text-sm text-gray-100 font-semibold mr-3 uppercase tracking-wide">Computer Technician</span>
        <p class="text-lg font-bold text-gray-200 truncate block capitalize">Expert Repairs at Your Doorstep</p>
        <div class="flex items-center mt-2">
          <p class="text-xl font-bold text-teal-700">Starting from ₹500/-</p>
          
          <div class="ml-auto p-2 bg-teal-600 rounded-full text-white hover:bg-teal-700 transition-colors duration-300 cursor-pointer">
            
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="w-72 bg-gradient-to-r from-slate-900 to-slate-700 rounded-xl duration-500 hover:scale-105 hover:shadow-2xl transform transition-all">
    <a  routerLink="/login">
      <img src="https://i.giphy.com/IZs31Ap23eKV1VJ4dq.webp"
           alt="Mobile Technician Service" class="h-80 w-72 object-cover rounded-t-xl" />
      <div class="px-4 py-3 w-72">
        <span class="text-sm text-gray-100 font-semibold mr-3 uppercase tracking-wide">AC Technician</span>
        <p class="text-lg font-bold text-gray-200 truncate block capitalize">Expert Repairs at Your Doorstep</p>
        <div class="flex items-center mt-2">
          <p class="text-xl font-bold text-teal-600">Starting from ₹500/-</p>
          
          <div class="ml-auto p-2 bg-teal-600 rounded-full text-white hover:bg-teal-700 transition-colors duration-300 cursor-pointer">
            
          </div>
        </div>
      </div>
    </a>
  </div>


 


</section>








<!-- about us -->


<!-- why us  -->
<section class="text-gray-700 body-font mt-10">
  <div class="flex justify-center text-3xl font-bold text-gray-100 text-center">
      Why Us?
  </div>
  <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap text-center justify-center">
          <div class="p-4 md:w-1/4 sm:w-1/2">
              <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                  <div class="flex justify-center">
                      <img src="https://image3.jdomni.in/banner/13062021/58/97/7C/E53960D1295621EFCB5B13F335_1623567851299.png?output-format=webp" class="w-32 mb-3">
                  </div>
                  <h2 class="title-font font-regular text-2xl text-gray-100">Latest Milling Machinery</h2>
              </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
              <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                  <div class="flex justify-center">
                      <img src="https://image2.jdomni.in/banner/13062021/3E/57/E8/1D6E23DD7E12571705CAC761E7_1623567977295.png?output-format=webp" class="w-32 mb-3">
                  </div>
                  <h2 class="title-font font-regular text-2xl text-gray-100">Reasonable Rates</h2>
              </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
              <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                  <div class="flex justify-center">
                      <img src="https://image3.jdomni.in/banner/13062021/16/7E/7E/5A9920439E52EF309F27B43EEB_1623568010437.png?output-format=webp" class="w-32 mb-3">
                  </div>
                  <h2 class="title-font font-regular text-2xl text-gray-100">Time Efficiency</h2>
              </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
              <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                  <div class="flex justify-center">
                      <img src="https://image3.jdomni.in/banner/13062021/EB/99/EE/8B46027500E987A5142ECC1CE1_1623567959360.png?output-format=webp" class="w-32 mb-3">
                  </div>
                  <h2 class="title-font font-regular text-2xl text-gray-100">Expertise in Industry</h2>
              </div>
          </div>

      </div>
  </div>
</section>
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
      <h2 class="text-base font-bold text-indigo-600">
        Check our awesome team members
      </h2>
      <!-- <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
          Check our awesome team members
      </h1> -->
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
          <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
          </div>
          <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-gray-700 font-bold mb-2">Dany Bailey</p>
              <p class="text-base text-gray-400 font-normal">Mobile Engineer</p>
          </div>
      </div>
      <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
          <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
          </div>
          <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-gray-700 font-bold mb-2">Lucy Carter</p>
              <p class="text-base text-gray-400 font-normal">Computer Technician</p>
          </div>
      </div>
   
   
  
      <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
          <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80" alt="photo">
          </div>
          <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-gray-700 font-bold mb-2">Jade Bradley</p>
              <p class="text-base text-gray-400 font-normal">Ac Technician</p>
          </div>
      </div>
  </div>
</section>




<!-- Visit us section -->
<section class="bg-gradient-to-r from-slate-900 to-slate-700 ">
  <div class="max-w-7xl mx-auto py-4 px-2 sm:px-6 lg:py-10 lg:px-6">
      <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
          <h2 class="text-3xl font-extrabold text-gray-100" id="contactUs">Visit Our Location</h2>
          <p class="mt-3 text-lg text-gray-500">Let us serve you the best</p>
      </div>
      <div class="mt-8 lg:mt-20">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
              <div>
                  <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                      <div class="border-t border-gray-200 px-6 py-4">
                          <h3 class="text-lg font-bold text-gray-900">Contact</h3>
                          <p class="mt-1 font-bold text-gray-600"><a href="tel:+123">Phone: +91
                                  123456789</a></p>
                          <a class="flex m-1" href="tel:+919823331842">
                              <div class="flex-shrink-0">
                                  <div
                                      class="flex items-center justify-between h-10 w-30 rounded-md bg-indigo-500 text-white p-2">
                                      <!-- Heroicon name: phone -->
                                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                          stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                                      </svg>
                                      Call now
                                  </div>
                              </div>

                          </a>
                      </div>
                      <div class="px-6 py-4">
                          <h3 class="text-lg font-medium text-gray-900">Our Address</h3>
                          <p class="mt-1 text-gray-600">Sale galli, 60 foot road, Latur</p>
                      </div>
                      <div class="border-t border-gray-200 px-6 py-4">
                          <h3 class="text-lg font-medium text-gray-900">Hours</h3>
                          <p class="mt-1 text-gray-600">Monday - Sunday : 2pm - 9pm</p>
                      </div>
                  </div>
              </div>
              <div class="rounded-lg overflow-hidden order-none sm:order-first">
                  <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.7850672491236!2d76.58802159999999!3d18.402630699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcf83ca88e84341%3A0x841e547bf3ad066d!2zQmFwcGEgZmxvdXIgbWlsbCB8IOCkrOCkquCljeCkquCkviDgpKrgpYDgpKAg4KSX4KS_4KSw4KSj4KWALCDgpK7gpL_gpLDgpJrgpYAg4KSV4KS-4KSC4KSh4KSqIOCkhuCko-CkvyDgpLbgpYfgpLXgpL7gpK_gpL4!5e0!3m2!1sen!2sin!4v1713433597892!5m2!1sen!2sin"
                      class="w-full" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>

              </div>

          </div>
      </div>
  </div>
</section>









<script>
  document.getElementById("hamburger").onclick = function toggleMenu() {
      const navToggle = document.getElementsByClassName("toggle");
      for (let i = 0; i < navToggle.length; i++) {
        navToggle.item(i).classList.toggle("hidden");
      }
    };
</script>
<script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
<script>
  kofiWidgetOverlay.draw('mohamedghulam', {
          'type': 'floating-chat',
          'floating-chat.donateButton.text': 'Support me',
          'floating-chat.donateButton.background-color': '#323842',
          'floating-chat.donateButton.text-color': '#fff'
      });
</script>

  
  




